<h1><%= t 'welcome1' %></h1>

<div class="connect">
  <h4><%= t "welcome2" %></h4>
  <br>
  <div class="social-connect">
    <% [:facebook, :twitter, :google, :instagram].each do |social| %>
      <a href="<%= connect_path(social) %>" class="big-btn <%= social.to_s %>"><span class="logo"></span><%= social.capitalize %></a>
      <br>
    <% end %>
  </div>
  <div class="email-connect">
    <form action="https://www.dailycred.com/oauth/api/signup.json" id="signup">
      <input type="text" name="email" placeholder="Email Address" rel="popover" data-error="form user email" data-placement="right">
      <input type="password" name="pass" placeholder="Password" rel="popover" data-error="pass" data-password-strength data-placement="right">
      <input type="hidden" name="client_id" value="<%=Rails.configuration.DAILYCRED_CLIENT_ID%>">
      <input type="hidden" name="redirect_uri" value="<%= current_url %>auth/dailycred/callback">
      <input type="hidden" name="state" value="<%= @state %>">
      <input type="submit" value="Sign Up!" class="btn btn-success" id="signup-btn">
      <img src="/assets/loading.gif" title="" alt="" class="loading">
    </form>
  </div>
</div>


